<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:label="@string/demo_main_title"
        android:theme="@style/Theme.AwArchDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadStateDemoActivity"
            android:exported="false" />
        <activity
            android:name=".RetryLoadStateDemoActivity"
            android:exported="false" />
        <activity
            android:name=".BusPostDemoActivity"
            android:exported="false" />
        <activity
            android:name=".BusTryPostDemoActivity"
            android:exported="false" />
        <activity
            android:name=".BusStickyDemoActivity"
            android:exported="false" />
        <activity
            android:name=".BusRemoveStickyDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvvmMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MviMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MvpMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MvvmLoadingDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvvmToastDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvvmErrorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvvmBackDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MviIncrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MviDecrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MviResetDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MviLoadDataDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMviIncrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMviDecrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMviResetDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMviLoadDataDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AwNavMenuActivity"
            android:exported="false" />
        <activity
            android:name=".AwNavBasicRouteDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AwNavInterceptorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".wechat.WeChatMenuActivity"
            android:exported="false" />
        <activity
            android:name=".wechat.WeChatActivity"
            android:exported="false" />
        <activity
            android:name=".HiltDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvpIncrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvpDecrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvpResetDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvpLoadDataDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMvpIncrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMvpDecrementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMvpResetDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMvpLoadDataDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SimpleMviDemoActivity"
            android:exported="false" />
    </application>
</manifest>