<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".DemoApplication"
        android:allowBackup="false"
        android:label="@string/demo_main_title"
        android:theme="@style/Theme.AwArchDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadStateDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FlowEventBusDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvvmDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MviDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SimpleMviDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMviDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MvpDemoActivity"
            android:exported="false" />
        <activity
            android:name=".HiltMvpDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AwNavBasicRouteDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AwNavInterceptorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".wechat.WeChatMenuActivity"
            android:exported="false" />
        <activity
            android:name=".wechat.WeChatActivity"
            android:exported="false" />
    </application>
</manifest>
